@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  background: linear-gradient(grey,rgb(242, 242, 246));
  color: #3b425b;
  font-family: 'Lora', serif;
  font-size: 18px;
  text-align: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  margin-left: 15%;
  margin-right: 15%;
}
li {
  display: list-item;
  color: black;
  text-align: -webkit-match-parent;
  margin-left: -40px;
}
ul {
  list-style-type: none;
}
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
  text-indent: 0px !important;
  text-align: start !important;
  text-align-last: start !important;
}
img {
  border: 3px solid rgb(39, 35, 35);
  width: 150px;
  border-radius: 50%;
}
li::marker {
  color: black;
  align-items: center;
}
h1{
  font-family: Poppins;
  color: black;
  text-align: center;
  margin-left: 45px;
}
.link{
  border-radius: 15px;
  text-decoration: dashed;
  color:rgb(63, 156, 156);
  margin: 10%;
}
.container{
  text-align: center;
  border: 1px solid rgb(90, 77, 77);
  border: #3b425b, 10px;
  border-radius: 15%;
  width: 500px;   
  box-shadow: 3px 3px 8px #3204047a;
  background-color: gray;
  background-image: url("images/OPN0320.jpg");
  font-size: 20px;
  padding: 1%;
  color: rgb(34, 10, 49);
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  margin: 2%; 
  padding-bottom: 15px;
}

}
.social{
  font-size: 14px;
  background: linear-gradient(rgb(244, 155, 155),rgb(242, 242, 246));
  border-radius: 15%;
  width: 120px;
  margin-left: 20%;
  margin-right: 20%;
  margin: 2%; 
  padding-bottom: 15px;
}
}
a{
  color: rgb(71, 23, 23);
  text-decoration: none;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  margin: 2%; 
  padding-bottom: 15px;
}
}
.cat{
  font-size: 5em;
}
.fa-github-square{
  font-size: 2em;
  padding-bottom: 20px;
}
/* @media (max-width: 960px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .social {
    margin-left: 10%;
    margin-right: 10%;
  }
  .link {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 720px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .social {
    margin-left: 10%;
    margin-right: 10%;
  }
  .link {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 540px) {

  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
  .social {
    margin-left: 10%;
    margin-right: 10%;
  }
  .link {
    margin-left: 10%;
    margin-right: 10%;
  }
} */
